
\documentclass[legalpaper,12pt]{article}

\usepackage{charter} % Use the Charter font
\usepackage[colorlinks]{hyperref}
\usepackage{lipsum}
\usepackage{xcolor}
\usepackage{watermark}
\usepackage[utf8]{inputenc}
\usepackage{polyglossia}
\usepackage{ragged2e}
\setdefaultlanguage{english}
\setotherlanguages{hindi,sanskrit}
\newfontfamily\devanagarifont[Script=Devanagari]{Lohit Devanagari}

\usepackage[
	a4paper,    % Paper size
	top=0.2in,    % Top margin
	bottom=1in, % Bottom margin
	left=0.5in,   % Left margin
	right=0.5in,  % Right margin
	%showframe  % Uncomment to show frames around the margins for debugging purposes
]{geometry}

\setlength{\parindent}{0pt}     % Paragraph indentation 
\setlength{\parskip}{1em}       % Vertical space between paragraphs

\usepackage{graphicx}       % Required for including images

\usepackage{fancyhdr}       % Required for customizing headers and footers

\fancypagestyle{firstpage}{%
	\fancyhf{} % Clear default headers/footers
	\renewcommand{\headrulewidth}{0pt} % No header rule
	\renewcommand{\footrulewidth}{1pt} % Footer rule thickness
}

\fancypagestyle{subsequentpages}{%
	\fancyhf{} % Clear default headers/footers
	\renewcommand{\headrulewidth}{1pt} % Header rule thickness
	\renewcommand{\footrulewidth}{1pt} % Footer rule thickness
}

\AtBeginDocument{\thispagestyle{firstpage}} % Use the first page headers/footers style on the first page
%\pagestyle{subsequentpages} % Use the subsequent pages headers/footers style on subsequent pages

%----------------------------------------------------------------------------------------
\usepackage{geometry}
\begin{document}

%----------------------------------------------------------------------------------------
%	FIRST PAGE HEADER
%----------------------------------------------------------------------------------------

\includegraphics[width=\columnwidth]{../../stamp_currency/100.jpeg} % Logo
\thiswatermark{ \put(50,-999){\includegraphics[scale=0.2]{../../mis_images/dashed_line.png}} }

\vspace{-1em} % Pull the rule closer to the logo

\rule{\linewidth}{1pt} % Horizontal rule

\bigskip\bigskip % Vertical whitespace

%----------------------------------------------------------------------------------------
%	YOUR NAME AND CONTACT INFORMATION
%----------------------------------------------------------------------------------------
{\textcolor[HTML]{A9758B}{\Large \textbf{\texthindi{पंजाब} PUNJAB}}}
\hfill
{\color{red}{\Large F 435498} }


\bigskip % Vertical whitespace

%----------------------------------------------------------------------------------------
%	ADDRESSEE AND GREETING
%----------------------------------------------------------------------------------------

 \vspace{2.5cm}
\centerline{
    \textbf{\underline{\Large{RESIDENTIAL RENTAL AGREEMENT}}}

}
\bigskip % Vertical whitespace


\centerline{
    \begin{minipage}{0.79\textwidth}
	    This agreement made at \textbf{\VAR{current_city}, \VAR{current_state}} on this \today  between \textbf{\VAR{landlord_name}}, residing at \textbf{\VAR{landlord_address_line_1}, \VAR{landlord_address_line2}, \VAR{landlord_city}, \VAR{landlord_state}, \VAR{landlord_pincode}}
	    hereinafter referred to as the `LESSOR` of the One Part AND \textbf{\VAR{tenant_name}}, residing at
	    \textbf{\VAR{tenant_address_line1}, \VAR{tenant_address_line2}, \VAR{tenant_city}, \VAR{tenant_state}, \VAR{tenant_pincode}} hereinafter referred to as
the `LESSEE` of the other Part;\\


WHEREAS the Lessor is the lawful owner of, and otherwise well sufficiently entitled to
	    \textbf{\VAR{lease_property_address}} falling in the
category, \textbf{\VAR{property_type}} and comprising of \textbf{\VAR{no_of_bedrooms} Bedrooms}, \textbf{\VAR{no_of_bathrooms} Bathrooms}, \textbf{\VAR{no_of_carparks} Carparks} with an extent of \textbf{\VAR{area_of_property}} hereinafter referred to as the `said premises`;\\


AND WHEREAS at the request of the Lessee, the Lessor has agreed to let the said
premises to the tenant for a term of [Lease Term] commencing from [Lease Start Date]
in the manner hereinafter appearing.\\




\end{minipage}
}


 \pagebreak
 
 
\newgeometry{top=30mm, bottom=30mm} 
NOW THIS AGREEMENT WITNESSETH AND IT IS HEREBY AGREED BY AND BETWEEN THE PARTIES AS UNDER:\\
\begin{enumerate}
    \item That the Lessor hereby grant to the Lessee, the right to enter into and use and remain in the said premises along with the existing fixtures and fittings listed in Annexure 1 to this Agreement and that the Lessee shall be entitled to peacefully possess, and enjoy possession of the said premises, and the other rights herein.

    \item That the lease hereby granted shall, unless cancelled earlier under any provision of this Agreement, remain in force for a period of [Lease Term].

    \item That the Lessee will have the option to terminate this lease by giving \textbf{\VAR{notice_duration}} in writing to the Lessor.

    \item That the Lessee shall have no right to create any sub-lease or assign or transfer in any manner the lease or give to any one the possession of the said premises or any part thereof.

    \item That the Lessee shall use the said premises only for residential purposes.
    
    \item That the Lessor shall, before handing over the said premises, ensure the working of sanitary, electrical and water supply connections and other fittings pertaining to the said premises. It is agreed that it shall be the responsibility of the Lessor for their return in the working condition at the time of re-possession of the said premises (reasonable wear and tear and loss or damage by fire, flood, rains, accident, irresistible force or act of God excepted).

    \item That the Lessee is not authorized to make any alteration in the construction of the said premises. The Lessee may however install and remove his own fittings and fixtures, provided this is done without causing any excessive damage or loss to the said premises.

    \item That the day to day repair jobs such as fuse blow out, replacement of light bulbs/tubes, leakage of water taps, maintenance of the water pump and other minor repairs, etc., shall be effected by the Lessee at its own cost, and any major repairs, either structural or to the electrical or water connection, plumbing leaks, water seepage shall be attended to by the Lessor. In the event of the Lessor failing to carry out the repairs on receiving notice from the Lessee, the Lessee shall undertake the necessary repairs and the Lessor will be liable to immediately reimburse costs incurred by the Lessee.

    \item That the Lessor or its duly authorized agent shall have the right to enter into or upon the said premises or any part thereof at a mutually arranged convenient time for the purpose of inspection.
    
    \item  That the Lessee shall use the said premises along with its fixtures and fitting in careful and responsible manner and shall handover the premises to the Lessor in working condition (reasonable wear and tear and loss or damage by fire, flood, rains, accidents, irresistible force or act of God excepted)
    
    \item That in consideration of use of the said premises the Lessee agrees that he shall pay to the Lessor during the period of this agreement, a monthly rent at the rate of \textbf{\VAR{monthly_rent_in_number}, \VAR{monthly_rent_in_words}}. The amount will be paid in advance on or before the date of \textbf{\VAR{monthly_rent_day}} of every English calendar month.
    
    \item  It is hereby agreed that if default is made by the lessee in payment of the rent for a period of three months, or in observance and performance of any of the covenants and stipulations hereby contained and on the part to be observed and performed by the lessee, then on such default, the lessor shall be entitled in addition to or in the alternative to any other remedy that may be available to him at this discretion, to terminate the lease and eject the lessee from the said premises; and to take possession thereof as full and absolute owner thereof, provided that a notice in writing shall be given by the lessor to the lessee of his intention to terminate the lease and to take possession of the said premises. If the arrears of rent are paid or the lessee comply with or carry out the covenants and conditions or stipulations, within fifteen days from the service of such notice, then the lessor shall not be entitled to take possession of the said premises.
    
    \item  That in addition to the compensation mentioned above, the Lessee shall pay the actual electricity, shared maintenance, water bills for the period of the agreement directly to the authorities concerned. The relevant `start date` meter readings are \textbf{\VAR{starting_meter_reading}}.
    
    \item That the Lessee has paid to the Lessor a sum of \textbf{\VAR{rental_deposit_in_number} and  \VAR{rental_deposit_in_words}} as deposit, free of interest, which the Lessor does accept and acknowledge. This deposit is for the due performance and observance of the terms and conditions of this Agreement. The deposit shall be returned to the Lessee simultaneously with the Lessee vacating the said premises. In the event of failure on the part of the Lessor to refund the said deposit amount to the Lessee as aforesaid, the Lessee shall be entitled to continue to use and occupy the said premises without payment of any rent until the Lessor refunds the said amount (without prejudice to the Lessee`s rights and remedies in law to recover the deposit).
    
    \item That the Lessor shall be responsible for the payment of all taxes and levies pertaining to the said premises including but not limited to House Tax, Property Tax, other cesses, if any, and any other statutory taxes, levied by the Government or Governmental Departments. During the term of this Agreement, the Lessor shall comply with all rules, regulations and requirements of any statutory authority, local, state and central government and governmental departments in relation to the said premises.

\end{enumerate}
\pagebreak 
\begin{minipage}{\textwidth}
IN WITNESS WHEREOF, the parties hereto have set their hands on the day and year first
hereinabove mentioned.
\vspace{1cm}
\end{minipage}

\begin{minipage}{0.6\textwidth}
\raggedright{
    Lessor\newline
	\VAR{landlord_name}\\
	\VAR{landlord_address_line1}
	\VAR{landlord_address_line2}\\
	\VAR{landlord_city}, \VAR{landlord_state}, \VAR{landlord_pincode}\\
    \vspace{2cm}
    WITNESS ONE\\
    \vspace{1cm}
	\VAR{witness_1_name}, \\ \VAR{witness_1_address}
    }
\end{minipage}
\hfill
\begin{minipage}{0.5\textwidth}
\raggedright{
    Lessee\\
	\VAR{tenant_name}\\
    	\VAR{tenant_address_line1}\\
	\VAR{tenant_address_line2}\\
	\VAR{tenant_city}, \VAR{tenant_state}, \VAR{tenant_pincode}\\
    \vspace{2cm}
    WITNESS ONE\\
    \vspace{1cm}
	\VAR{witness_2_name}, \\ \VAR{witness_2_address}}
\end{minipage}

 \pagebreak
\centerline{\textbf{\Large{ANNEXURE I}}}
List of fixtures and fittings provided in \VAR{lease_property_address}:

\begin{enumerate}
    \item Item 1
    \item Item 2
    \item Item 3
\end{enumerate}
\restoregeometry





\end{document}

